<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artiverse</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .form-group {
      margin-bottom: 1rem;
    }
    .btn_change_pass{
      margin: auto;
      background-color: #fff;
      color: black;
      border: 1px solid black;
      display: block;
      padding: 7px 20px;
    }
    .btn_change_pass:hover{
      background-color: black;
      color: white;
    }
  </style>
</head>
<body>
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 mt-5">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center mb-4">Change Your Password</h2>
            <form method="post" action="{% url 'password_change' %}">
              {% csrf_token %}
              <div class="form-group">
                <p>Enter your old password</p>
                {{ form.old_password }}
                {{ form.old_password.errors }}
              </div>
              <div class="form-group">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
              </div>
              <div class="form-group">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
              </div>
              <button type="submit" class="btn btn_change_pass">Change My Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
