<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Site{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  {% block extra_head %}
  {% endblock %}
</head>
<body>

    <div class="row justify-content-center">
        <div class="col-md-6">
          <h2 class="mt-5">Enter new password</h2>
          <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
              {{ form.new_password1.label_tag }}
              {{ form.new_password1 }}
              {{ form.new_password1.errors }}
            </div>
            <div class="form-group">
              {{ form.new_password2.label_tag }}
              {{ form.new_password2 }}
              {{ form.new_password2.errors }}
            </div>
            <button type="submit" class="btn btn-primary">Change my password</button>
          </form>
        </div>
      </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  {% block extra_script %}
  {% endblock %}
</body>
</html>
