
/* Adjustments for .arts class */
@media screen and (max-width: 1200px) {
    .arts {
        flex: 1 1 calc(33.33% - 40px);
        max-width: 300px;
        height: 300px;
       
      
    }
   

}

@media screen and (max-width: 992px) {
    .arts {
        flex: 1 1 calc(50% - 40px);
        max-width: 300px;
        max-height: 300px;
        height: auto;
     
    }
    
}
@media screen and (max-width: 792px) {
    .arts {
        flex: 1 1 calc(50% - 40px);
        max-width: 400px;
        height: 300px;
    }
    
    #nav-part2 {
        position: relative;
    }

    .menu-icon {
        display: flex;
    }

    #menu-links {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        flex-direction: column;
        background-color: rgb(77, 77, 77);
        overflow: hidden;
        max-height: auto;
    }
    
    #menu-links.active {
        width: 200px;
        display: block;
        height: auto;
        border-radius: 10px;
        padding: 10px 20px;
    }

    #menu-links h4 {
        margin-top: 10px;
    }
    #menu-links h4 a {
        color: white;
    }
    .single-cta{
        padding: 1rem;
    }
    .profile-dropdown-list {
        position: absolute;
        top: 395px; 
        right: 135px; 
        width: 200px; 
    }

}

@media screen and (max-width: 640px) {
    /* .arts {
        flex: 1 1 calc(100% - 20px);
      
    }
    .arts img{
     

    } */
    .footer-content {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        
        
    }
    .footer-section{
        flex: 1 1 100%;
        text-align: center;
        
    }
}

@media screen and (max-width: 480px) {
    /* .arts {
        flex: 1 1 calc(100% - 20px);
     
    }
    .arts img{
       
    } */
    .profile-dropdown-list {
        position: absolute;
        top: 395px; 
        right: 135px; 
        width: 200px; 
    }
}

@media (hover: hover) {
    .view-more:hover span:after {
        opacity: 1;
        right: 0;
    }
}
