{% extends '_base.html' %}
{% block title %}
Artiverse - Search
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/Artworks/art_det.css' %}">
<div class="container">
    <div class="card">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="preview">
                        <div class="tab-content">
                            <div class="tab-pane active" id="pic-1">
                                <img class="art__img img-fluid" src="{{ artwork.image.url }}" alt="{{ artwork.title }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="details">
                        <h3 class="product-title">{{ artwork.title }}</h3>
                        <p class="product-description mt-3">{{ artwork.description }}</p>
                        <div class="rating">
                            <!-- Replace with your rating system if applicable -->
                        </div>
                        <p class="vote"><!-- Replace with your voting system details if needed --></p>
                        <h4 class="artist-name">Artist: {{ artist_artworks.artist }}</h4>
                        <p class="sizes">Medium: {{ artwork.medium }}</p>
                        <p class="sizes">Dimensions: {{ artwork.dimensions }}</p>
                        <p class="sizes">Created Date: {{ artwork.year_created }}</p>
                        <p class="price">Price: <span>${{ artwork.price }}</span></p>
                        <div class="action mt-3">
                            <!-- {% if user.is_authenticated %}
                            <a href="#" class="btn btn-primary mr-2" id="add-to-cart" data-url="{% url 'add_to_cart' artwork.id %}">Add to Cart</a>
                            <a href="#" class="btn btn-primary" id="toggle-wishlist" data-url="{% url 'toggle_wishlist' artwork.id %}">
                                {% if in_wishlist %}
                                Added to Favourites
                                {% else %}
                                Add to Favourites
                                {% endif %}
                            </a>
                            {% else %}
                            <a href="{% url 'login_view' %}" class="btn btn-primary mr-2">Add to Cart</a>
                            <a href="{% url 'login_view' %}" class="btn btn-primary details_btn">Add to Favourites</a>
                            {% endif %} -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 mb-5 item_wrapper">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> <img id="main-image" src="{{ artwork.image.url }}" width="400px" /> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1">Back</span> </div> <i class="fa fa-shopping-cart text-muted"></i>
                            </div>
                            <div class="mt-4 mb-3">
                                <span class="text-uppercase text-muted brand">Orianz</span>
                                <h5 class="text-uppercase">{{ artwork.title }}</h5>
                                <div class="price d-flex flex-row align-items-center">
                                    <span class="act-price">${{ artwork.price }}</span>
                                    <!-- <div class="ml-2">
                                        <small class="dis-price">$59</small> <span>40% OFF</span>
                                    </div> -->
                                </div>
                            </div>
                            <p class="about">{{artwork.description}}</p>

                            <div class="cart mt-4 align-items-center">
                                <a href="#" class="btn btn-danger text-uppercase mr-4 px-4" id="add-to-cart" data-url="{% url 'add_to_cart' artwork.id %}">Add to Cart</a>
                                <a href="#" style="color: red;" id="toggle-wishlist" data-url="{% url 'toggle_wishlist' artwork.id %}" class="ml-4 interact_icons" >
                                    {% if in_wishlist %}
                                    <i class="fa-solid fa-heart"></i>
                                    {% else %}
                                    <i class="fa-regular fa-heart"></i>
                                    {% endif %}
                                </a>
                                <a href="" style="color: red;" class="ml-4">
                                <i class="fa fa-share-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/viewdet.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}
