{% extends '_base.html' %}
{% block title %}
Artiverse - Search
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/Artworks/art_det.css' %}">
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1">
                            <img class="art__img" src="{{ artwork.image.url }}" alt="{{ artwork.title }}">
                        </div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{ artwork.title }}</h3>
                    <p class="product-description mt-5">{{ artwork.description }}</p>
                    <div class="rating">
                        <!-- Replace with your rating system if applicable -->
                    </div>
                    <p class="vote"> <!-- Replace with your voting system details if needed --></p>
                    <h4 class="artist-name">Artist: {{ artwork.artist.name }}</h4>
                    <p class="sizes">Medium: {{ artwork.medium }}</p>
                    <p class="sizes">Dimensions: {{ artwork.dimensions }}</p>
                    <p class="sizes">Created Date: {{ artwork.year_created }}</p>
                    <p class="price">Price: <span>${{ artwork.price }}</span></p>
                    <div class="action">
                        {% if user.is_authenticated %}
                            <a href="#" class="add-to-cart btn btn-default">Add to Cart</a>
                            {% if not artwork.in_wishlist %}
                            <a href="#" data-artwork-id="{{ artwork.id }}" data-url="{% url 'toggle_wishlist' artwork.id %}" class="like btn btn-default card__wishlist">Add to favourites</a>
                        {% else %}
                            <a href="#" data-artwork-id="{{ artwork.id }}" data-url="{% url 'toggle_wishlist' artwork.id %}" class="like btn btn-default card__wishlist">Added to favourites</a>
                        {% endif %}
                        {% else %}
                            <a href="{% url 'login_view' %}" class="btn btn-primary">Login to Add to Cart</a>
                            <a href="{% url 'login_view' %}" class="btn btn-primary">Login to Add to Favourites</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/viewdet.js' %}"></script>
{% endblock %}