{% extends 'admin_base.html' %}
{% load static %}
{% block title %}Artiverse - Manage Artwork {% endblock %}
{% block content %}

<!-- end topbar -->
<!-- dashboard inner -->
<div class="row column_title">
    <div class="col-md-12">
        <div class="page_title">
            <h2>Profile</h2>
        </div>
    </div>
</div>
<!-- row -->
<div class="row column1">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="white_shd full margin_bottom_30">
            <div class="full graph_head">
                <div class="heading1 margin_0">
                    <h2>User profile</h2>
                </div>
            </div>
            <div class="full price_table padding_infor_info">
                <div class="row">
                    <!-- user profile section -->
                    <!-- profile image -->
                    <div class="col-lg-12">
                        <div class="full dis_flex center_text">
                            <div class="profile_img"><img width="180" class="rounded-circle"
                                    src="{% if admin.profile_picture %}{{ admin.profile_picture.url }}{% else %}{% static 'img/default_profile.jpg' %}{% endif %}"
                                    alt="#" style="height: 180px; width: 180px; object-fit: cover;" /></div>
                            <div class="profile_contant">
                                <div class="contact_inner">
                                    <h3>{{admin.name}}</h3>
                                    <p><strong>Username: </strong>@{{user.username}}</p>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-envelope"></i> : {{user.email}}</li>
                                        <li><i class="fa fa-phone"></i> : {{admin.phone_number}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- profile contant section -->
                        <div class="full inner_elements margin_top_30">
                            <div class="tab_style2">
                                <div class="tabbar">
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-contact-tab" data-toggle="tab"
                                                href="#profile_section" role="tab" aria-selected="false">Biography</a>
                                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                                href="#project_worked" role="tab" aria-selected="false">Other
                                                details</a>
                                            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"
                                                href="#recent_activity" role="tab" aria-selected="true">Recent
                                                Activity</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade" id="project_worked" role="tabpanel"
                                            aria-labelledby="nav-profile-tab">
                                            <div class="contact_inner">
                                                <p><strong>Post: </strong>{{admin.post}}</p>
                                                <p><strong>Date joined: </strong>{{admin.date_joined}}</p>
                                                <p><strong>Department: </strong>{{admin.department}}</p>
                                                <p><strong>Country: </strong>{{admin.country}}</p>
                                                <p><strong>Address: </strong>{{admin.address}}</p>

                                            </div>
                                        </div>
                                        <div class="tab-pane fade show active" id="profile_section" role="tabpanel"
                                            aria-labelledby="nav-contact-tab">
                                            <p>{{admin.biography}}
                                            </p>
                                        </div>
                                        <div class="tab-pane fade" id="recent_activity" role="tabpanel"
                                            aria-labelledby="nav-home-tab">
                                            <div class="msg_list_main">
                                                <ul class="msg_list">
                                                    <li>
                                                        <span><img src="images/layout_img/msg2.png"
                                                                class="img-responsive" alt="#"></span>
                                                        <span>
                                                            <span class="name_user">Taison Jack</span>
                                                            <span class="msg_user">Sed ut perspiciatis unde
                                                                omnis.</span>
                                                            <span class="time_ago">12 min ago</span>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span><img src="images/layout_img/msg3.png"
                                                                class="img-responsive" alt="#"></span>
                                                        <span>
                                                            <span class="name_user">Mike John</span>
                                                            <span class="msg_user">On the other hand, we
                                                                denounce.</span>
                                                            <span class="time_ago">12 min ago</span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end user profile section -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <!-- end row -->
</div>
<script src="{%static 'js/Admin/delete.js'%}"></script>
{% endblock %}