{% extends 'admin_base.html' %}
{% load static %}
{% block title %}Artiverse - Manage Artwork{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/Admin/manage_artwork.css' %}">
<section class="container">
<h1 class="title">Manage Artist</h1>
{% if artists %}
<div class="row">
    {% for artist in artists %}
    <div class="col-md-4 col-sm-6 col-lg-3 mb-4">
        <div class="card user-card">
            <a href="{%url 'view_artist_admin' id=artist.id%}">
                <img class="card-img-top" src="{% if artist.profile_picture %}{{ artist.profile_picture.url }}{% else %}{% static 'img/default_profile.jpg' %}{% endif %}" alt="Profile Picture" style="height: 200px; object-fit: cover;">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ artist.name }}</h5>
                <p class="card-text">@{{ artist.user.username }}</p>
                <div class="action-buttons">
                    <button class="btn delete-btn" data-user-id="{{ artist.id }}">Delete</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="no-users">
    <h1 style="font-size: 25px; font-weight: lighter; text-align: center;">No artists to show!!</h1>
</div>
{% endif %}
</section>

<!-- Pagination -->
<div class="page-container">
    <ul class="pagination">
        {% if artists.has_previous %}
        <li><a href="?page={{ artists.previous_page_number }}">&laquo; Prev</a></li>
        {% else %}
        <li class="disabled"><span>Prev</span></li>
        {% endif %}
        {% for num in artists.paginator.page_range %}
        <li {% if num == artists.number %}class="active" {% endif %}>
            <a href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endfor %}
        {% if artists.has_next %}
        <li><a href="?page={{ artists.next_page_number }}">Next &raquo;</a></li>
        {% else %}
        <li class="disabled"><span>Next</span></li>
        {% endif %}
    </ul>
</div>

<div class="delete-modal hidden" id="delete-modal">
    <form id="delete-form" method="post">
        {% csrf_token %}
        <button type="button" class="close-btn">&times;</button>
        <h2>Delete Confirmation</h2>
        <p>Are you sure you want to delete this Artist?</p>
        <button type="submit" class="btn btn-danger">Delete</button>
        <button type="button" class="btn cancel-btn">Cancel</button>
    </form>
</div>
<script src="{% static 'js/Admin/artist_delete.js' %}"></script>
{% endblock %}
